/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bad-button {
  color: #000000;
  background-color: #cc2020;
}

.good-button {
  color: #ffffff;
  background-color: #888888;
}

.center {
  text-align: center;
}
